# system config
SECRET_KEY=insecuresecret-key
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=2h

RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_MS=1000

# mongo config
DB_NAME="maragements"
DB_ROOT_USER=example
DB_ROOT_PASSWORD=example
DB_PORT=18117
DB_HOST=192.168.1.11
DB_URL=mongodb://$DB_ROOT_USER:$DB_ROOT_PASSWORD@$DB_HOST:$DB_PORT
